<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- !** Carnado Site Configuration ** -->

  <appSettings file="services.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />


    <!-- !** Description of Environment Settings **! -->
    <!-- 
      IsLocalDev            =>  If TRUE, we ignore the StaticUrlPrefix key and fetch assets from the local developer's /app_assets/dist/ folder.
                                If TRUE, we also look at the LocalDev:CarsForSaleLoadAmount key for the cap amount we apply to the inventory load process.
      
      IsProduction          =>  This boolean will allow for any exclusively PRODUCTION only settings... which, as of yet, no use-cases currently exist. :)

      IsQaStage             =>  This is actually NOT a web.config key, but is a derived logic state from combining the IsProduction and IsLocalDev keys.
                                When the keys, IsProduction and IsLocalDev, are both FALSE, then the IsQaStage boolean becomes TRUE.
                                This boolean will allow for any exclusively DEV|QA|STAGE only settings... which, again, no use-cases currently exist. :)

      StaticUrlPrefix       =>  This key is only looked at and used when IsLocalDev is FALSE.

      CarsForSaleLoadAmount =>  This key is only looked at and used when IsLocalDev is TRUE. It is ignored in all other environments, and could even be removed.

    -->
    <add key="Environment:IsProduction" value="false" />
    <add key="Environment:IsLocalDev" value="false" />
    <add key="Environment:StaticUrlPrefix" value="//static.qa.car.com/car" />

    <add key="WURFL:DatabaseFilePath" value="/app_data/wurfl-latest.zip" />
    <add key="WURFL:PatchFilePaths" value="" />

    <add key="Logger:Enabled" value="false" />
    <add key="RouteDebugger:Enabled" value="false" />

  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxUrlLength="1024" requestPathInvalidCharacters="&lt;,&gt;" />

    <caching>
      <outputCache enableOutputCache="false" />
      <outputCacheSettings>
        <outputCacheProfiles>
          <clear />
          <!--<add name="home_mob" duration="10" varyByParam="*" location="ServerAndClient" varyByCustom="mobile" />
          <add name="home_tab" duration="10" varyByParam="*" location="ServerAndClient" varyByCustom="tablet" />
          <add name="home_dsk" duration="10" varyByParam="*" location="ServerAndClient" varyByCustom="desktop" />-->
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <!--<urlCompression doDynamicCompression="false" dynamicCompressionBeforeCache="true" doStaticCompression="true" />-->
    <!--<staticContent>
      <clientCache httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" />
    </staticContent>-->

    <validation validateIntegratedModeConfiguration="false" />

    <!-- WARNING: This seems to be necessary to run on IIS -->
    <!-- Ref: http://stackoverflow.com/questions/11425574/mvc4-http-error-403-14-forbidden -->
    <modules runAllManagedModulesForAllRequests="true" />


    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*"
           type="System.Web.Handlers.TransferRequestHandler"
           preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <rewrite>
      <providers>
        <!--<provider name="AbtlDbProvider" type="AbtlDbProvider, AbtlDbProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=664b3457f2e7a5f8" /> -->
        <provider name="AbtlDbProvider" type="AbtlDbProvider, AbtlDbProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=664b3457f2e7a5f8">
          <settings>
            <add key="ConnectionString" value="Server=sqlqa201.dev.autobytel.com;Database=VehicleContent;Trusted_Connection=true;" />
            <add key="StoredProcedure" value="ccweb.GetRewriteForCarCom" />
            <add key="ParamDelimiter" value="*" />
            <add key="CacheMinutesInterval" value="0" />
            <add key="EnableLogging" value="0" />
          </settings>
        </provider>
      </providers>
      <rules>
        <rule name="AddTrailingSlashRule1" stopProcessing="true">
          <match url="(.*[^/])$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="car.com" />
            <add input="{REQUEST_URI}" pattern="(/api/*)" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.htm)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.cfm)" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.css)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.js)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.png)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.jpg)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.jpeg)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.gif)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.bin)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.pdf)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.swf)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.xml)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.doc)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.txt)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.dtd)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.zip)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.cab)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.class)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.ini)$" negate="true" />
            <add input="{REQUEST_METHOD}" pattern="POST" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Redirect" url="{ToLower:{R:1}/}" />
        </rule>
        <rule name="LowerCaseRule1" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="car.com" />
            <add input="{REQUEST_URI}" pattern="(/api/*)" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.htm)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.cfm)" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.html)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.css)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.js)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.png)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.jpg)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.jpeg)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.gif)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.bin)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.pdf)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.swf)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.xml)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.doc)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.txt)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.dtd)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.zip)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.cab)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.class)$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.ini)$" negate="true" />
            <add input="{REQUEST_METHOD}" pattern="POST" ignoreCase="true" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>
        <rule name="InvalidCfm" stopProcessing="true">
          <match url="(.cfm.*.cfm)" />
          <action type="Redirect" url="http://www.car.com/" />
        </rule>
        <rule name="Legacy Car Dealer Page" stopProcessing="true">
          <match url="cardealers.cfm(.*)" />
          <action type="Redirect" url="/" appendQueryString="false"  />
        </rule>
        <rule name="Legacy Inventory Page" stopProcessing="true">
          <match url="content/buy/inventory/index.cfm(.*)" />
          <action type="Redirect" url="cars-for-sale/" appendQueryString="false" />
        </rule>
        <rule name="Reviews" stopProcessing="true">
          <match url="content/research/reviews/index.cfm(.*)" />
          <action type="Redirect" url="/" appendQueryString="false" />
        </rule>
        <rule name="Top 10" stopProcessing="true">
          <match url="content/research/top10/index.cfm(.*)" />
          <action type="Redirect" url="/" appendQueryString="false" />
        </rule>
        <rule name="Content Research Videos" stopProcessing="true">
          <match url="content/research/summary/(.*)/Videos" />
          <action type="Redirect" url="/" appendQueryString="false" />
        </rule>
        <rule name="Price Search 3" stopProcessing="true">
          <match url="content/research/searchbyprice/index.cfm(.*)" />
          <action type="Redirect" url="/" appendQueryString="false" />
        </rule>
        <rule name="Payment Search" stopProcessing="true">
          <match url="content/research/searchbypayment/index.cfm(.*)" />
          <action type="Redirect" url="/" appendQueryString="false" />
        </rule>
        <rule name="Comparison" stopProcessing="true">
          <match url="content/research/comparison(.*)" />
          <action type="Redirect" url="tools/" appendQueryString="false" />
        </rule>
        <rule name="Finance" stopProcessing="true">
          <match url="content/buy/finance(.*)" />
          <action type="Redirect" url="finance/" appendQueryString="false" />
        </rule>
        <rule name="Legacy Vehicle Make Detail htm page" stopProcessing="true">
          <match url="content/research/detail/([a-zA-Z-]+)\.htm" />
          <action type="Redirect" url="{ToLower:{R:1}/}" appendQueryString="false" />
        </rule>
        <rule name="KBB Used Car Values" stopProcessing="true">
          <match url="content/research/kbb/(.*)" />
          <action type="Redirect" url="tools/used-car-values/" appendQueryString="false" />
        </rule>
        <rule name="DbProvider" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{AbtlDbProvider:{HTTP_HOST}*{R:1}}" pattern="(Redirect):(.+)" />
          </conditions>
          <action type="Redirect" url="{ToLower:{C:2}}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
