<?xml version="1.0" encoding="utf-8" ?>

<!-- !** Carnado Site Configuration ** -->

<appSettings>

  <!-- !** Database Connection Strings **! -->
  <add key="ConnectionString:VehicleContent"
       value="Server=sqlstg401.prod.autobytel.com;Database=VehicleContent;Trusted_Connection=True;" />

  <add key="ConnectionString:Abt_Prod"
       value="Server=sqlstg401.prod.autobytel.com;Database=Abt_Prod;Trusted_Connection=True;Connection Timeout=20;" />

  <add key="ConnectionString:Inventory"
       value="Server=repsqlstg401.prod.autobytel.com;Database=CacheDB;Trusted_Connection=true;" />


  <!-- !** Redis Multiplex Configuration ** -->
  <!-- The list can hold multiple, comma separated servers. i.e. value="redis1:6379,redis2:6379" -->
  <!-- Ref: https://github.com/StackExchange/StackExchange.Redis/blob/master/Docs/Configuration.md -->
  <add key="Redis:Writeable:Config" value="rdsmst.services.stg.car.com:6379,name=car,password=Hzb7ucgbc" />
  <add key="Redis:Readable:Config" value="rdsslv.services.stg.car.com:6379,name=car,password=Hzb7ucgbc" />



  <!-- !** Time Interval Conversions **! -->
  <!-- 
       1 second   => (1000 ms)
      10 seconds  => (10000 ms)
      15 seconds  => (15000 ms)
      30 seconds  => (30000 ms)
      60 seconds  => (60000 ms)
  -->


  <!-- !** Configurations for Local Services **! -->
  <add key="CarsForSaleService:ReCacheInterval_mins" value="1440"/>
  <add key="SitemapService:ReCacheInterval_mins" value="120"/>
  <add key="AffiliateService:ReCacheInterval_mins" value="120"/>

  <!-- !** Configurations for ReST Services **! -->
  <add key="VehicleSpecService:Endpoint" value="vsp.services.stg.car.com" />
  <add key="VehicleSpecService:ApiVersion" value="1" />
  <add key="VehicleSpecService:Redis:DatabaseNumber" value="0" />
  <add key="VehicleSpecService:Timeout_ms" value="5000" />

  <add key="ImageMetaService:Endpoint" value="img.services.stg.car.com" />
  <add key="ImageMetaService:ApiVersion" value="1" />
  <add key="ImageMetaService:Redis:DatabaseNumber" value="1" />
  <add key="ImageMetaService:Timeout_ms" value="5000" />

  <add key="VehicleContentService:Endpoint" value="vcs.services.stg.car.com" />
  <add key="VehicleContentService:ApiVersion" value="1" />
  <add key="VehicleContentService:Redis:DatabaseNumber" value="2" />
  <add key="VehicleContentService:Timeout_ms" value="5000" />

  <add key="DealerService:Endpoint" value="cmds.services.stg.autobytel.com/" />
  <add key="DealerService:ApiVersion" value="1" />
  <add key="DealerService:Redis:DatabaseNumber" value="3" />
  <add key="DealerService:Timeout_ms" value="5000" />


  <!-- !** Configurations for SOAP Services **! -->
  <add key="LeadService:Endpoint" value="http://leadengine.services.stg.autobytel.com/LeadEngine/DropZone.asmx" />
  <add key="KbbService:Endpoint" value="http://kbb.services.autobytel.com/KBBWebService/PricingService.asmx" />

  <!-- !** Configurations for Vendor Outside Services **! -->
  <add key="AdService:Autoweb:Endpoint" value="http://search.api.awadserver.com/Api/Ads/Listings" />
  <add key="AdService:Autoweb:PrivateKey" value="cb693e4709364cddd4f94375a8ffeeb574120f960088c5690d748d07b7eb226c" />
  <add key="AdService:Autoweb:SharedSecret" value="f256678c3ce23250648644b4c6e198ca" />

  <!-- !** Configurations for Cacheability TTLs **! -->
  <add key="Cacheability:Timeouts:Downstream"
       value="shortest=10-secs;ultra_short=30-secs;extra_short=60-secs;short=5-mins;medium=15-mins;long=30-mins;longer=60-mins;extra_long=4-hrs;super_long=8-hrs;ultra_long=24-hrs;longest=7-days" />

  <add key="Cacheability:Timeouts:Edge"
       value="shortest=20-secs;ultra_short=60-secs;extra_short=2-mins;short=10-mins;medium=25-mins;long=45-mins;longer=90-mins;extra_long=6-hrs;super_long=12-hrs;ultra_long=30-hrs;longest=30-days" />


</appSettings>