@model Car.Com.Models.CompareCars.ResultsViewModel

<div class="header">
  <div class="page-title wrap">
    <h1>Compare Cars</h1>
  </div>
</div>
<div class="main">
  <div class="cell primary">
    <div class="mobi-compare-head-cont">
      <table class="mobi-compare-tbl">
        <thead>
          <tr>
            <th>
              <button class="btn-unstyled" title="Change vehicle">
                <div class="act-cont">
                  <div class="act-icon">
                    <span class="icon inline i-pencil">
                      <svg>
                        <use xlink:href="/assets/svg/global-sprite.svg#i_pencil"></use>
                      </svg>
                    </span>
                  </div>
                  <div class="act-content">
                    2014 Subaru BRZ BRZ Limited (A6)
                  </div>
                </div>
              </button>
            </th>
            <th>
              <button class="btn-unstyled" title="Change vehicle">
                <div class="act-cont">
                  <div class="act-icon">
                    <span class="icon inline i-pencil">
                      <svg>
                        <use xlink:href="/assets/svg/global-sprite.svg#i_pencil"></use>
                      </svg>
                    </span>
                  </div>
                  <div class="act-content">
                    2014 Scion FR-S FR-S Base (A6)
                  </div>
                </div>
              </button>
            </th>
          </tr>
        </thead>
      </table>
    </div>

    <h2 class="h5 mobi-compare-grp-head">
      <button>
        Overview
        <span class="icon inline">
          <svg>
            <use id="compareSectionSvg_Overview" xlink:href="/assets/svg/global-sprite.svg#i_minus"></use>
          </svg>
        </span>
      </button>
    </h2>

    <div class="mobi-compare-data-cont">
      <table class="mobi-compare-tbl">
        <tbody>
          <tr>
            <td>
              <a href="" title="View Details">
                <div class="act-cont">
                  <div class="act-icon-tl">
                    <span class="icon inline i-doc">
                      <svg>
                        <use xlink:href="/assets/svg/global-sprite.svg#i_doc"></use>
                      </svg>
                    </span>
                    <span class="icon inline i-arrow4-r">
                      <svg>
                        <use xlink:href="/assets/svg/global-sprite.svg#i_arrow4_r"></use>
                      </svg>
                    </span>
                  </div>
                  <img src="//img.dev.car.com/2014/subaru/brz/34078_11_2_320x.png" alt="2014 Subaru BRZ">
                </div>
              </a>
            </td>
            <td>
              <a href="" title="View Details">
                <div class="act-cont">
                  <div class="act-icon-tl">
                    <span class="icon inline i-doc">
                      <svg>
                        <use xlink:href="/assets/svg/global-sprite.svg#i_doc"></use>
                      </svg>
                    </span>
                    <span class="icon inline i-arrow4-r">
                      <svg>
                        <use xlink:href="/assets/svg/global-sprite.svg#i_arrow4_r"></use>
                      </svg>
                    </span>
                  </div>
                  <img src="//img.dev.car.com/2014/scion/fr-s/34034_11_2_320x.png" alt="2014 Scion FR-S">
                </div>
              </a>
            </td>
          </tr>
          <tr>
            <th colspan="2">MSRP</th>
          </tr>
          <tr>
            <td>
              $28,695<br />
              <button class="btn-primary">Get Pricing</button>
            </td>
            <td>
              $25,800<br />
              <button class="btn-primary">Get Pricing</button>
            </td>
          </tr>
          <tr>
            <th colspan="2">MPG</th>
          </tr>
          <tr>
            <td>25 City / 34 Hwy</td>
            <td>28.3 City / 36.2 Hwy</td>
          </tr>
          <tr>
            <th colspan="2">Horsepower</th>
          </tr>
          <tr>
            <td>248</td>
            <td>266</td>
          </tr>
          <tr>
            <th colspan="2">Seating Capacity</th>
          </tr>
          <tr>
            <td>8</td>
            <td>8</td>
          </tr>
          <tr>
            <th colspan="2">Cargo Capacity</th>
          </tr>
          <tr>
            <td>38 cu.ft.</td>
            <td>39 cu.ft.</td>
          </tr>
          <tr>
            <th colspan="2">Doors</th>
          </tr>
          <tr>
            <td>4</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 class="h5 mobi-compare-grp-head">
      <button>
        Audio
        <span class="icon inline">
          <svg>
            <use id="compareSectionSvg_Overview" xlink:href="/assets/svg/global-sprite.svg#i_minus"></use>
          </svg>
        </span>
      </button>
    </h2>

    <div class="mobi-compare-data-cont" style="display: none">
      <table class="mobi-compare-tbl">
        <tbody>
          <tr>
            <th colspan="2">MSRP</th>
          </tr>
          <tr>
            <td>$28,695</td>
            <td>$25,800</td>
          </tr>
          <tr>
            <th colspan="2">MPG</th>
          </tr>
          <tr>
            <td>25 City / 34 Hwy</td>
            <td>28.3 City / 36.2 Hwy</td>
          </tr>
          <tr>
            <th colspan="2">Horsepower</th>
          </tr>
          <tr>
            <td>248</td>
            <td>266</td>
          </tr>
          <tr>
            <th colspan="2">Seating Capacity</th>
          </tr>
          <tr>
            <td>8</td>
            <td>8</td>
          </tr>
          <tr>
            <th colspan="2">Cargo Capacity</th>
          </tr>
          <tr>
            <td>38 cu.ft.</td>
            <td>39 cu.ft.</td>
          </tr>
          <tr>
            <th colspan="2">Doors</th>
          </tr>
          <tr>
            <td>4</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  @*<aside class="cell sidebar">
      <div class="ad-set">
        <div class="ad-container">
          <div id="js_tile_2" class="ad"></div>
        </div>
        <div class="ad-container">
          <div id="js_tile_3" class="ad"></div>
        </div>
        <div class="ad-container">
          <div id="js_tile_4" class="ad"></div>
        </div>
      </div>
    </aside>*@

  @*overlay*@
  <div id="customize_comparison_overlay_js" class="overlay overlay-dk" style="display:none">
    <button id="close_customize_compare_js" class="close_btn_js overlay-close">
      <span class="icon">
        <svg>
          <use xlink:href="/assets/svg/global-sprite.svg#i_close"></use>
        </svg>
      </span>
    </button>
    <h1 class="h1">Customize My Comparison</h1>

    <div id="compareCustomizeMain" class="compare-cust-cont">
    </div>


  </div>

</div>

