  <div class="col stack" id="js-filter-options-transmission" style="display: none;">
  <h3>Transmission</h3>
  <ul class="filter-list">
    <li id="js-filter-icon-transmission-manualtransmission" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 830 1024" class="icon filter-icon-transmission-manualtransmission">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-transmission-manualtransmission"></use>
        </svg>
        <span class="filter-value">Manual</span>
      </button>
    </li>
    <li id="js-filter-icon-transmission-automatictransmission" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1065 1024" class="icon filter-icon-transmission-automatictransmission">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-transmission-automatictransmission"></use>
        </svg>
        <span class="filter-value">Automatic</span>
      </button>
    </li>
    <li id="js-filter-icon-transmission-continuousvariabletransmission" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1819 1024" class="icon filter-icon-transmission-continuousvariabletransmission">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-transmission-continuousvariabletransmission"></use>
        </svg>
        <span class="filter-value">CVT</span>
      </button>
    </li>
  </ul>
</div>
