  <div class="col stack" id="js-filter-options-fueltype" style="display: none;">
  <h3>Fuel Type</h3>
  <ul class="filter-list">
    <li id="js-filter-icon-fueltype-gas" style="display: none;">
      <button class="btn-filter" title="Gas">
        <svg viewBox="0 0 753 1024" class="icon filter-icon-fueltype-gas">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-fueltype-gas"></use>
        </svg>
        <span class="filter-value">Gas</span>
      </button>
    </li>
    <li id="js-filter-icon-fueltype-hybrid" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1384 1024" class="icon filter-icon-fueltype-hybrid">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-fueltype-hybrid"></use>
        </svg>
        <span class="filter-value">Hybrid</span>
      </button>
    </li>
    <li id="js-filter-icon-fueltype-electric" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1024 1024" class="icon filter-icon-fueltype-electric">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-fueltype-electric"></use>
        </svg>
        <span class="filter-value">Electric</span>
      </button>
    </li>
    <li id="js-filter-icon-fueltype-dieselandcng" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 753 1024" class="icon filter-icon-fueltype-dieselandcng">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-fueltype-dieselandcng"></use>
        </svg>
        <span class="filter-value">Diesel/CNG</span>
      </button>
    </li>
  </ul>
</div>

