 <div class="col stack" id="js-filter-options-engine" style="display: none;">
  <h3>Engine</h3>
  <ul class="filter-list">
    <li id="js-filter-icon-engine-4cylinderfamily" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 617 1024" class="icon filter-icon-engine-4cylinderfamily">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-engine-4cylinderfamily"></use>
        </svg>
        <span class="filter-value">4 cyl</span>
      </button>
    </li>
    <li id="js-filter-icon-engine-6cylinderfamily" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1041 1024" class="icon filter-icon-engine-6cylinderfamily">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-engine-6cylinderfamily"></use>
        </svg>
        <span class="filter-value">6 cyl</span>
      </button>
    </li>
    <li id="js-filter-icon-engine-8cylinderfamily" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1041 1024" class="icon filter-icon-engine-8cylinderfamily">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-engine-8cylinderfamily"></use>
        </svg>
        <span class="filter-value">8+ cyl</span>
      </button>
    </li>
  </ul>
</div>
