  <div class="col stack" id="js-filter-options-doors" style="display: none;">
    <h3>Doors</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-doors-2door" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 3033 1024" class="icon filter-icon-doors-2door">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-doors-2door"></use>
          </svg>
          <span class="filter-value">2 doors</span>
        </button>
      </li>
      <li id="js-filter-icon-doors-4door" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 3148 1024" class="icon filter-icon-doors-4door">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-doors-4door"></use>
          </svg>
          <span class="filter-value">4 doors</span>
        </button>
      </li>
    </ul>
  </div>
