  <div class="col stack" id="js-filter-options-seating" style="display: none;">
  <h3>Seats</h3>
  <ul class="filter-list">
    <li id="js-filter-icon-seating-2to3passenger" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1055 1024" class="icon filter-icon-seating-2to3passenger">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-seating-2to3passenger"></use>
        </svg>
        <span class="filter-value">2-3 seats</span>
      </button>
    </li>
    <li id="js-filter-icon-seating-4to6passenger" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1374 1024" class="icon filter-icon-seating-4to6passenger">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-seating-4to6passenger"></use>
        </svg>
        <span class="filter-value">4-6 seats</span>
      </button>
    </li>
    <li id="js-filter-icon-seating-7and8passenger" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1437 1024" class="icon filter-icon-seating-7and8passenger">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-seating-7and8passenger"></use>
        </svg>
        <span class="filter-value">7-8 seats</span>
      </button>
    </li>
    <li id="js-filter-icon-seating-9passenger" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1668 1024" class="icon filter-icon-seating-9passenger">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-seating-9passenger"></use>
        </svg>
        <span class="filter-value">9+ seats</span>
      </button>
    </li>
  </ul>
</div>
