<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="filter-icon-engine-4cylinderfamily" viewBox="0 0 617 1024">
      <title>engine-4cylinderfamily</title>
      <path fill="#3a3a3c" d="M617.487 846.695c0 45.7-35.277 82.689-78.763 82.689h-441.080c-43.506 0-78.763-37.011-78.763-82.689v-694.683c0-45.7 35.256-82.689 78.763-82.689h441.080c43.486 0 78.763 37.011 78.763 82.689v694.683z"></path>
      <path fill="#0ba14a" d="M415.849 976.65c0 22.62-18.338 40.937-40.958 40.937h-333.933c-22.641 0.021-40.958-18.317-40.958-40.937v-935.692c0-22.62 18.317-40.958 40.958-40.958h333.933c22.62 0 40.958 18.338 40.958 40.958v935.692z"></path>
      <path fill="#ffffff" d="M305.59 157.526c0 53.939-43.726 97.665-97.665 97.665s-97.665-43.726-97.665-97.665c0-53.939 43.726-97.665 97.665-97.665s97.665 43.726 97.665 97.665z"></path>
      <path fill="#ffffff" d="M305.59 393.814c0 53.939-43.726 97.665-97.665 97.665s-97.665-43.726-97.665-97.665c0-53.939 43.726-97.665 97.665-97.665s97.665 43.726 97.665 97.665z"></path>
      <path fill="#ffffff" d="M305.59 630.102c0 53.939-43.726 97.665-97.665 97.665s-97.665-43.726-97.665-97.665c0-53.939 43.726-97.665 97.665-97.665s97.665 43.726 97.665 97.665z"></path>
      <path fill="#ffffff" d="M305.59 869.524c0 53.939-43.726 97.665-97.665 97.665s-97.665-43.726-97.665-97.665c0-53.939 43.726-97.665 97.665-97.665s97.665 43.726 97.665 97.665z"></path>
    </symbol>
    <symbol id="filter-icon-engine-6cylinderfamily" viewBox="0 0 1041 1024">
      <title>engine-6cylinderfamily</title>
      <path fill="#3a3a3c" d="M1025.838 855.676c0 51.297-39.601 92.861-88.433 92.861h-848.972c-48.833 0-88.433-41.585-88.433-92.861v-719.851c0-51.297 39.601-92.84 88.433-92.84h848.951c48.833 0 88.433 41.564 88.433 92.84v719.851h0.021z"></path>
      <path fill="#0ba14a" d="M488.158 971.972c0 22.516-18.255 40.77-40.77 40.77h-332.345c-22.516 0-40.749-18.255-40.749-40.77v-931.201c0-22.516 18.255-40.77 40.749-40.77h332.345c22.516 0 40.77 18.255 40.77 40.77v931.201z"></path>
      <path fill="#ffffff" d="M390.89 241.071c0 60.56-49.094 109.654-109.654 109.654s-109.654-49.094-109.654-109.654c0-60.56 49.094-109.654 109.654-109.654s109.654 49.094 109.654 109.654z"></path>
      <path fill="#ffffff" d="M390.89 506.371c0 60.56-49.094 109.654-109.654 109.654s-109.654-49.094-109.654-109.654c0-60.56 49.094-109.654 109.654-109.654s109.654 49.094 109.654 109.654z"></path>
      <path fill="#ffffff" d="M390.89 771.65c0 60.56-49.094 109.654-109.654 109.654s-109.654-49.094-109.654-109.654c0-60.56 49.094-109.654 109.654-109.654s109.654 49.094 109.654 109.654z"></path>
      <path fill="#0ba14a" d="M951.545 971.972c0 22.516-18.255 40.77-40.77 40.77h-332.345c-22.495 0-40.77-18.255-40.77-40.77v-931.201c0.042-22.516 18.276-40.77 40.77-40.77h332.345c22.516 0 40.77 18.255 40.77 40.77v931.201z"></path>
      <path fill="#ffffff" d="M854.256 241.071c0 60.56-49.094 109.654-109.654 109.654s-109.654-49.094-109.654-109.654c0-60.56 49.094-109.654 109.654-109.654s109.654 49.094 109.654 109.654z"></path>
      <path fill="#ffffff" d="M854.256 506.371c0 60.56-49.094 109.654-109.654 109.654s-109.654-49.094-109.654-109.654c0-60.56 49.094-109.654 109.654-109.654s109.654 49.094 109.654 109.654z"></path>
      <path fill="#ffffff" d="M854.256 771.65c0 60.56-49.094 109.654-109.654 109.654s-109.654-49.094-109.654-109.654c0-60.56 49.094-109.654 109.654-109.654s109.654 49.094 109.654 109.654z"></path>
    </symbol>
    <symbol id="filter-icon-engine-8cylinderfamily" viewBox="0 0 1041 1024">
      <title>engine-8cylinderfamily</title>
      <path fill="#3a3a3c" d="M921.364 890.055c0 46.055-35.57 83.4-79.452 83.4h-762.481c-43.862 0-79.431-37.345-79.431-83.4v-761.708c0-46.055 35.57-83.4 79.431-83.4h762.481c43.882 0 79.452 37.345 79.452 83.4v761.708z"></path>
      <path fill="#0ba14a" d="M441.644 988.138c0 20.218-16.417 36.614-36.614 36.614h-298.53c-20.218 0-36.593-16.396-36.593-36.614v-951.545c0-20.197 16.375-36.593 36.593-36.593h298.509c20.197 0 36.614 16.396 36.614 36.593l0.021 951.545z"></path>
      <path fill="#ffffff" d="M355.863 157.505c0 54.4-44.1 98.5-98.5 98.5s-98.5-44.1-98.5-98.5c0-54.4 44.1-98.5 98.5-98.5s98.5 44.1 98.5 98.5z"></path>
      <path fill="#ffffff" d="M355.863 395.777c0 54.4-44.1 98.5-98.5 98.5s-98.5-44.1-98.5-98.5c0-54.4 44.1-98.5 98.5-98.5s98.5 44.1 98.5 98.5z"></path>
      <path fill="#ffffff" d="M354.255 634.050c0 54.4-44.1 98.5-98.5 98.5s-98.5-44.1-98.5-98.5c0-54.4 44.1-98.5 98.5-98.5s98.5 44.1 98.5 98.5z"></path>
      <path fill="#ffffff" d="M354.255 867.247c0 54.4-44.1 98.5-98.5 98.5s-98.5-44.1-98.5-98.5c0-54.4 44.1-98.5 98.5-98.5s98.5 44.1 98.5 98.5z"></path>
      <path fill="#0ba14a" d="M857.827 988.138c0 20.218-16.375 36.614-36.614 36.614h-298.509c-20.218 0-36.614-16.396-36.614-36.614v-951.545c0-20.197 16.417-36.593 36.614-36.593h298.509c20.239 0 36.614 16.396 36.614 36.593v951.545z"></path>
      <path fill="#ffffff" d="M770.418 157.505c0 54.389-44.091 98.48-98.48 98.48s-98.48-44.091-98.48-98.48c0-54.389 44.091-98.48 98.48-98.48s98.48 44.091 98.48 98.48z"></path>
      <path fill="#ffffff" d="M770.418 395.777c0 54.389-44.091 98.48-98.48 98.48s-98.48-44.091-98.48-98.48c0-54.389 44.091-98.48 98.48-98.48s98.48 44.091 98.48 98.48z"></path>
      <path fill="#ffffff" d="M770.418 634.050c0 54.389-44.091 98.48-98.48 98.48s-98.48-44.091-98.48-98.48c0-54.389 44.091-98.48 98.48-98.48s98.48 44.091 98.48 98.48z"></path>
      <path fill="#ffffff" d="M770.418 867.247c0 54.389-44.091 98.48-98.48 98.48s-98.48-44.091-98.48-98.48c0-54.389 44.091-98.48 98.48-98.48s98.48 44.091 98.48 98.48z"></path>
    </symbol>
  </defs>
</svg>
