  <div class="col stack" id="js-filter-options-cargocapacity" style="display: none;">
    <h3>Cargo Capacity</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-cargocapacity-upto24cubicfeet" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1385 1024" class="icon filter-icon-cargocapacity-upto24cubicfeet">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-cargocapacity-upto24cubicfeet"></use>
          </svg>
          <span class="filter-value">0-24 cuft</span>
        </button>
      </li>
      <li id="js-filter-icon-cargocapacity-25to50cubicfeet" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1823 1024" class="icon filter-icon-cargocapacity-25to50cubicfeet">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-cargocapacity-25to50cubicfeet"></use>
          </svg>
          <span class="filter-value">&lt;&#61;50 cuft</span>
        </button>
      </li>
      <li id="js-filter-icon-cargocapacity-51to200cubicfeet" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1641 1024" class="icon filter-icon-cargocapacity-51to200cubicfeet">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-cargocapacity-51to200cubicfeet"></use>
          </svg>
          <span class="filter-value">51-200 cuft</span>
        </button>
      </li>
      <li id="js-filter-icon-cargocapacity-over200cubicfeet" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1023 1024" class="icon filter-icon-cargocapacity-over200cubicfeet">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-cargocapacity-over200cubicfeet"></use>
          </svg>
          <span class="filter-value">200+ cuft</span>
        </button>
      </li>
    </ul>
  </div>

