  <div class="col stack" id="js-filter-options-bedlength" style="display: none;">
  <h3>Bed Size</h3>
  <ul class="filter-list">
    <li id="js-filter-icon-bedlength-standardbed" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 2617 1024" class="icon filter-icon-bedlength-standardbed">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-bedlength-standardbed"></use>
        </svg>
        <span class="filter-value">Standard bed</span>
      </button>
    </li>
    <li id="js-filter-icon-bedlength-longbed" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 2831 1024" class="icon filter-icon-bedlength-longbed">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-bedlength-longbed"></use>
        </svg>
        <span class="filter-value">Long bed</span>
      </button>
    </li>
    <li id="js-filter-icon-bedlength-shortbed" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 2445 1024" class="icon filter-icon-bedlength-shortbed">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-bedlength-shortbed"></use>
        </svg>
        <span class="filter-value">Short bed</span>
      </button>
    </li>
  </ul>
</div>
