<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="filter-icon-drivetrain-allwheeldrive" viewBox="0 0 1800 1024">
      <title>drivetrain-allwheeldrive</title>
      <path fill="#0ba14a" d="M421.315 797.464c24.7 0 45.166 20.466 45.166 45.166v136.204c0 24.7-20.466 45.166-45.166 45.166h-376.149c-24.7 0-45.166-20.466-45.166-45.166v-136.204c0-24.7 20.466-45.166 45.166-45.166h376.149z"></path>
      <path fill="#0ba14a" d="M421.315 0c24.7 0 45.166 20.466 45.166 45.166v129.853c0 24.7-20.466 45.166-45.166 45.166h-376.149c-24.7 0-45.166-20.466-45.166-45.166v-129.853c0-24.7 20.466-45.166 45.166-45.166h376.149z"></path>
      <path fill="#0ba14a" d="M1754.42 797.464c24.7 0 45.166 20.466 45.166 45.166v136.204c0 24.7-20.466 45.166-45.166 45.166h-376.149c-24.7 0-45.166-20.466-45.166-45.166v-136.204c0-24.7 20.466-45.166 45.166-45.166h376.149z"></path>
      <path fill="#0ba14a" d="M1754.42 0c24.7 0 45.166 20.466 45.166 45.166v129.853c0 24.7-20.466 45.166-45.166 45.166h-376.149c-24.7 0-45.166-20.466-45.166-45.166v-129.853c0-24.7 20.466-45.166 45.166-45.166h376.149z"></path>
      <path fill="#0ba14a" d="M184.899 156.67h96.684v703.603h-96.684v-703.603z"></path>
      <path fill="#0ba14a" d="M1518.004 156.67h96.684v703.603h-96.684v-703.603z"></path>
      <path fill="#3a3a3c" d="M233.593 463.658h1333.105v90.332h-1333.105v-90.332z"></path>
      <path fill="#0ba14a" d="M361.329 508.824c0 76.782-62.244 139.027-139.027 139.027s-139.027-62.244-139.027-139.027c0-76.782 62.244-139.027 139.027-139.027s139.027 62.244 139.027 139.027z"></path>
      <path fill="#0ba14a" d="M1705.020 508.824c0 76.782-62.244 139.027-139.027 139.027s-139.027-62.244-139.027-139.027c0-76.782 62.244-139.027 139.027-139.027s139.027 62.244 139.027 139.027z"></path>
    </symbol>
    <symbol id="filter-icon-drivetrain-frontwheeldrive" viewBox="0 0 1765 1024">
      <title>drivetrain-frontwheeldrive</title>
      <path fill="#0ba14a" d="M421.315 797.464c24.7 0 45.166 20.466 45.166 45.166v136.204c0 24.7-20.466 45.166-45.166 45.166h-376.149c-24.7 0-45.166-20.466-45.166-45.166v-136.204c0-24.7 20.466-45.166 45.166-45.166h376.149z"></path>
      <path fill="#0ba14a" d="M421.315 0c24.7 0 45.166 20.466 45.166 45.166v129.853c0 24.7-20.466 45.166-45.166 45.166h-376.149c-24.7 0-45.166-20.466-45.166-45.166v-129.853c0-24.7 20.466-45.166 45.166-45.166h376.149z"></path>
      <path fill="#3a3a3c" d="M1719.84 797.464c24.7 0 45.166 20.466 45.166 45.166v136.204c0 24.7-20.466 45.166-45.166 45.166h-376.149c-24.7 0-45.166-20.466-45.166-45.166v-136.204c0-24.7 20.466-45.166 45.166-45.166h376.149z"></path>
      <path fill="#3a3a3c" d="M1719.84 0c24.7 0 45.166 20.466 45.166 45.166v129.853c0 24.7-20.466 45.166-45.166 45.166h-376.149c-24.7 0-45.166-20.466-45.166-45.166v-129.853c0-24.7 20.466-45.166 45.166-45.166h376.149z"></path>
      <path fill="#0ba14a" d="M184.899 156.67h96.684v703.603h-96.684v-703.603z"></path>
      <path fill="#3a3a3c" d="M1483.424 156.67h96.684v703.603h-96.684v-703.603z"></path>
      <path fill="#3a3a3c" d="M233.593 463.658h1298.525v90.332h-1298.525v-90.332z"></path>
      <path fill="#0ba14a" d="M361.329 508.824c0 76.782-62.244 139.027-139.027 139.027s-139.027-62.244-139.027-139.027c0-76.782 62.244-139.027 139.027-139.027s139.027 62.244 139.027 139.027z"></path>
      <path fill="#3a3a3c" d="M1671.145 508.824c0 76.782-62.244 139.027-139.027 139.027s-139.027-62.244-139.027-139.027c0-76.782 62.244-139.027 139.027-139.027s139.027 62.244 139.027 139.027z"></path>
    </symbol>
    <symbol id="filter-icon-drivetrain-rearwheeldrive" viewBox="0 0 1765 1024">
      <title>drivetrain-rearwheeldrive</title>
      <path fill="#0ba14a" d="M1343.691 226.536c-24.7 0-45.166-20.466-45.166-45.166v-136.204c0-24.7 20.466-45.166 45.166-45.166h376.149c24.7 0 45.166 20.466 45.166 45.166v136.204c0 24.7-20.466 45.166-45.166 45.166h-376.149z"></path>
      <path fill="#0ba14a" d="M1343.691 1024c-24.7 0-45.166-20.466-45.166-45.166v-129.853c0-24.7 20.466-45.166 45.166-45.166h376.149c24.7 0 45.166 20.466 45.166 45.166v129.853c0 24.7-20.466 45.166-45.166 45.166h-376.149z"></path>
      <path fill="#3a3a3c" d="M45.166 226.536c-24.7 0-45.166-20.466-45.166-45.166v-136.204c0-24.7 20.466-45.166 45.166-45.166h376.149c24.7 0 45.166 20.466 45.166 45.166v136.204c0 24.7-20.466 45.166-45.166 45.166h-376.149z"></path>
      <path fill="#3a3a3c" d="M45.166 1024c-24.7 0-45.166-20.466-45.166-45.166v-129.853c0-24.7 20.466-45.166 45.166-45.166h376.149c24.7 0 45.166 20.466 45.166 45.166v129.853c0 24.7-20.466 45.166-45.166 45.166h-376.149z"></path>
      <path fill="#0ba14a" d="M1483.424 163.021h96.684v703.603h-96.684v-703.603z"></path>
      <path fill="#3a3a3c" d="M184.899 163.021h96.684v703.603h-96.684v-703.603z"></path>
      <path fill="#3a3a3c" d="M233.593 470.010h1298.525v90.332h-1298.525v-90.332z"></path>
      <path fill="#0ba14a" d="M1681.731 515.176c0 76.782-62.244 139.027-139.027 139.027s-139.027-62.244-139.027-139.027c0-76.782 62.244-139.027 139.027-139.027s139.027 62.244 139.027 139.027z"></path>
      <path fill="#3a3a3c" d="M372.62 515.176c0 76.782-62.244 139.027-139.027 139.027s-139.027-62.244-139.027-139.027c0-76.782 62.244-139.027 139.027-139.027s139.027 62.244 139.027 139.027z"></path>
    </symbol>
  </defs>
</svg>
