<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="filter-icon-driverange-0to35" viewBox="0 0 794 1024">
      <title>driverange-0to35</title>
      <path fill="#0ba14a" d="M247.639 950.743c0 31.054-55.739 55.739-123.421 55.739-68.479 0-123.421-24.684-123.421-55.739s55.739-55.739 123.421-55.739c67.683 0 123.421 25.481 123.421 55.739v0z"></path>
      <path fill="#0ba14a" d="M680.809 950.743c0 40.61-72.46 72.46-162.439 72.46-89.182 0-162.439-32.647-162.439-72.46s72.46-72.46 162.439-72.46c89.978 0 162.439 32.647 162.439 72.46v0z"></path>
      <path fill="#3a3a3c" d="M512 0c-155.272 0-281.879 126.607-281.879 281.879 0 45.387 11.148 88.386 30.258 126.607l251.621 518.37 251.621-518.37c19.11-38.221 30.258-81.219 30.258-126.607 0-155.272-126.607-281.879-281.879-281.879v0zM512 399.726c-64.498 0-117.848-52.554-117.848-117.848s52.554-117.848 117.848-117.848c64.498 0 117.848 52.554 117.848 117.848 0 64.498-53.35 117.848-117.848 117.848v0z"></path>
    </symbol>
    <symbol id="filter-icon-driverange-75to90" viewBox="0 0 1083 1024">
      <title>driverange-75to90</title>
      <path fill="#0ba14a" d="M208.622 950.743c0 25.481-46.98 46.98-104.311 46.98s-104.311-20.703-104.311-46.98c0-25.481 46.98-46.98 104.311-46.98s104.311 21.499 104.311 46.98v0z"></path>
      <path fill="#0ba14a" d="M208.622 750.88c0 25.481-46.98 46.98-104.311 46.98s-104.311-21.499-104.311-46.98c0-25.481 46.98-46.98 104.311-46.98s104.311 20.703 104.311 46.98v0z"></path>
      <path fill="#0ba14a" d="M548.628 950.743c0 31.054-55.739 55.739-123.421 55.739-68.479 0-123.421-24.684-123.421-55.739s55.739-55.739 123.421-55.739c67.683 0 123.421 25.481 123.421 55.739v0z"></path>
      <path fill="#0ba14a" d="M981.002 950.743c0 40.61-72.46 72.46-162.439 72.46-89.182 0-162.439-32.647-162.439-72.46s72.46-72.46 162.439-72.46c89.182 0 162.439 32.647 162.439 72.46v0z"></path>
      <path fill="#3a3a3c" d="M801.045 0c-155.272 0-281.879 126.607-281.879 281.879 0 45.387 11.148 88.386 30.258 126.607l251.621 518.37 251.621-518.37c19.11-38.221 30.258-81.219 30.258-126.607 0-155.272-126.607-281.879-281.879-281.879v0zM801.045 399.726c-64.498 0-117.848-52.554-117.848-117.848s52.554-117.848 117.848-117.848c64.498 0 117.848 52.554 117.848 117.848 0 64.498-52.554 117.848-117.848 117.848v0z"></path>
    </symbol>
    <symbol id="filter-icon-driverange-91to155" viewBox="0 0 1112 1024">
      <title>driverange-91to155</title>
      <path fill="#0ba14a" d="M208.622 950.743c0 25.481-46.98 46.98-104.311 46.98s-104.311-20.703-104.311-46.98c0-25.481 46.98-46.98 104.311-46.98s104.311 21.499 104.311 46.98v0z"></path>
      <path fill="#0ba14a" d="M208.622 750.88c0 25.481-46.98 46.98-104.311 46.98s-104.311-21.499-104.311-46.98c0-25.481 46.98-46.98 104.311-46.98s104.311 20.703 104.311 46.98v0z"></path>
      <path fill="#0ba14a" d="M208.622 539.869c0 25.481-46.98 46.98-104.311 46.98s-104.311-20.703-104.311-46.98c0-25.481 46.98-46.98 104.311-46.98s104.311 21.499 104.311 46.98v0z"></path>
      <path fill="#0ba14a" d="M548.628 950.743c0 31.054-55.739 55.739-123.421 55.739-68.479 0-123.421-24.684-123.421-55.739s55.739-55.739 123.421-55.739c67.683 0 123.421 25.481 123.421 55.739v0z"></path>
      <path fill="#0ba14a" d="M981.002 950.743c0 40.61-72.46 72.46-162.439 72.46-89.182 0-162.439-32.647-162.439-72.46s72.46-72.46 162.439-72.46c89.182 0 162.439 32.647 162.439 72.46v0z"></path>
      <path fill="#3a3a3c" d="M829.711 0c-155.272 0-281.082 126.607-281.082 281.879 0 45.387 11.148 88.386 30.258 126.607l251.621 518.37 251.621-518.37c19.11-38.221 30.258-81.219 30.258-126.607-0.796-155.272-127.403-281.879-282.675-281.879v0zM829.711 399.726c-64.498 0-117.848-52.554-117.848-117.848s52.554-117.848 117.848-117.848c64.498 0 117.848 52.554 117.848 117.848 0 64.498-52.554 117.848-117.848 117.848v0z"></path>
    </symbol>
    <symbol id="filter-icon-driverange-156to620" viewBox="0 0 1112 1024">
      <title>driverange-156to620</title>
      <path fill="#0ba14a" d="M208.622 950.743c0 25.481-46.98 46.98-104.311 46.98s-104.311-20.703-104.311-46.98c0-25.481 46.98-46.98 104.311-46.98s104.311 21.499 104.311 46.98v0z"></path>
      <path fill="#0ba14a" d="M208.622 750.88c0 25.481-46.98 46.98-104.311 46.98s-104.311-21.499-104.311-46.98c0-25.481 46.98-46.98 104.311-46.98s104.311 20.703 104.311 46.98v0z"></path>
      <path fill="#0ba14a" d="M208.622 539.869c0 25.481-46.98 46.98-104.311 46.98s-104.311-20.703-104.311-46.98c0-25.481 46.98-46.98 104.311-46.98s104.311 21.499 104.311 46.98v0z"></path>
      <path fill="#0ba14a" d="M208.622 344.784c0 25.481-46.98 46.98-104.311 46.98s-104.311-21.499-104.311-46.98c0-25.481 46.98-46.98 104.311-46.98s104.311 21.499 104.311 46.98v0z"></path>
      <path fill="#0ba14a" d="M208.622 159.253c0 25.481-46.98 46.98-104.311 46.98s-104.311-21.499-104.311-46.98c0-25.481 46.98-46.98 104.311-46.98s104.311 20.703 104.311 46.98v0z"></path>
      <path fill="#0ba14a" d="M548.628 950.743c0 31.054-55.739 55.739-123.421 55.739-68.479 0-123.421-24.684-123.421-55.739s55.739-55.739 123.421-55.739c67.683 0 123.421 25.481 123.421 55.739v0z"></path>
      <path fill="#0ba14a" d="M981.002 950.743c0 40.61-72.46 72.46-162.439 72.46-89.182 0-162.439-32.647-162.439-72.46s72.46-72.46 162.439-72.46c89.182 0 162.439 32.647 162.439 72.46v0z"></path>
      <path fill="#3a3a3c" d="M829.711 0c-155.272 0-281.082 126.607-281.082 281.879 0 45.387 11.148 88.386 30.258 126.607l251.621 518.37 251.621-518.37c19.11-38.221 30.258-81.219 30.258-126.607-0.796-155.272-127.403-281.879-282.675-281.879v0zM829.711 399.726c-64.498 0-117.848-52.554-117.848-117.848s52.554-117.848 117.848-117.848c64.498 0 117.848 52.554 117.848 117.848 0 64.498-52.554 117.848-117.848 117.848v0z"></path>
    </symbol>
  </defs>
</svg>
