  <div class="col stack" id="js-filter-options-towingcapacity" style="display: none;">
  <h3>Towing Capacity</h3>
  <ul class="filter-list">
    <li id="js-filter-icon-towingcapacity-classiandii" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1862 1024" class="icon filter-icon-towingcapacity-classiandii">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-towingcapacity-classiandii"></use>
        </svg>
        <span class="filter-value">Class I and II</span>
      </button>
    </li>
    <li id="js-filter-icon-towingcapacity-classiii" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1632 1024" class="icon filter-icon-towingcapacity-classiii">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-towingcapacity-classiii"></use>
        </svg>
        <span class="filter-value">Class I-III</span>
      </button>
    </li>
    <li id="js-filter-icon-towingcapacity-classiv" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1735 1024" class="icon filter-icon-towingcapacity-classiv">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-towingcapacity-classiv"></use>
        </svg>
        <span class="filter-value">Class IV</span>
      </button>
    </li>
    <li id="js-filter-icon-towingcapacity-classv" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 2116 1024" class="icon filter-icon-towingcapacity-classv">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-towingcapacity-classv"></use>
        </svg>
        <span class="filter-value">Class V</span>
      </button>
    </li>
  </ul>
</div>
