<div class="col stack" id="js-filter-options-vehiclecategory" style="display: none;">
  <h3>Categories</h3>
  <ul class="filter-list">
    <li id="js-filter-icon-vehiclecategory-concept" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1936 1024" class="filter-icon-vehiclecategory-concept">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-vehiclecategory-concept"></use>
        </svg>
        <span class="filter-value">Concepts</span>
      </button>
    </li>
    <li id="js-filter-icon-vehiclecategory-convertible" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1975 1024" class="filter-icon-vehiclecategory-convertible">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-vehiclecategory-convertible"></use>
        </svg>
        <span class="filter-value">Convertibles</span>
      </button>
    </li>
    <li id="js-filter-icon-vehiclecategory-coupe" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1823 1024" class="filter-icon-vehiclecategory-coupe">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-vehiclecategory-coupe"></use>
        </svg>
        <span class="filter-value">Coupes</span>
      </button>
    </li>
    <li id="js-filter-icon-vehiclecategory-sedan" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1936 1024" class="filter-icon-vehiclecategory-sedan">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-vehiclecategory-sedan"></use>
        </svg>
        <span class="filter-value">Sedans</span>
      </button>
    </li>
    <li id="js-filter-icon-vehiclecategory-sportscar" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1823 1024" class="filter-icon-vehiclecategory-sportscar">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-vehiclecategory-sportscar"></use>
        </svg>
        <span class="filter-value">Sport Cars</span>
      </button>
    </li>
    <li id="js-filter-icon-vehiclecategory-suv" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1501 1024" class="filter-icon-vehiclecategory-suv">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-vehiclecategory-suv"></use>
        </svg>
        <span class="filter-value">SUVs</span>
      </button>
    </li>
    <li id="js-filter-icon-vehiclecategory-truck" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1866 1024" class="filter-icon-vehiclecategory-truck">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-vehiclecategory-truck"></use>
        </svg>
        <span class="filter-value">Trucks</span>
      </button>
    </li>
    <li id="js-filter-icon-vehiclecategory-van" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1594 1024" class="filter-icon-vehiclecategory-van">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-vehiclecategory-van"></use>
        </svg>
        <span class="filter-value">Vans</span>
      </button>
    </li>
    <li id="js-filter-icon-vehiclecategory-wagon" style="display: none;">
      <button class="btn-filter">
        <svg viewBox="0 0 1793 1024" class="filter-icon-vehiclecategory-wagon">
          <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-vehiclecategory-wagon"></use>
        </svg>
        <span class="filter-value">Wagons</span>
      </button>
    </li>
  </ul>
</div>
