  <div class="col" id="js-filter-options-fueltype" style="display: none;">
    <h3>Fuel Type</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-fueltype-gas" style="display: none;">
        <button class="btn-filter" title="Gas">
          <svg viewBox="0 0 753 1024" class="icon filter-icon-fueltype-gas">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-fueltype-gas"></use>
          </svg>
          <span class="filter-value">Gas</span>
        </button>
      </li>
      <li id="js-filter-icon-fueltype-hybrid" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1384 1024" class="icon filter-icon-fueltype-hybrid">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-fueltype-hybrid"></use>
          </svg>
          <span class="filter-value">Hybrid</span>
        </button>
      </li>
      <li id="js-filter-icon-fueltype-electric" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1024 1024" class="icon filter-icon-fueltype-electric">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-fueltype-electric"></use>
          </svg>
          <span class="filter-value">Electric</span>
        </button>
      </li>
      <li id="js-filter-icon-fueltype-dieselandcng" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 753 1024" class="icon filter-icon-fueltype-dieselandcng">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-fueltype-dieselandcng"></use>
          </svg>
          <span class="filter-value">Diesel/CNG</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="col" id="js-filter-options-drivetrain" style="display: none;">
    <h3>Drivetrain</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-drivetrain-frontwheeldrive" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1765 1024" class="icon filter-icon-drivetrain-frontwheeldrive">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-drivetrain-frontwheeldrive"></use>
          </svg>
          <span class="filter-value">Front</span>
        </button>
      </li>
      <li id="js-filter-icon-drivetrain-rearwheeldrive" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1765 1024" class="icon filter-icon-drivetrain-rearwheeldrive">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-drivetrain-rearwheeldrive"></use>
          </svg>
          <span class="filter-value">Rear</span>
        </button>
      </li>
      <li id="js-filter-icon-drivetrain-allwheeldrive" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1800 1024" class="icon filter-icon-drivetrain-allwheeldrive">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-drivetrain-allwheeldrive"></use>
          </svg>
          <span class="filter-value">All</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="col" id="js-filter-options-transmission" style="display: none;">
    <h3>Transmission</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-transmission-manualtransmission" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 830 1024" class="icon filter-icon-transmission-manualtransmission">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-transmission-manualtransmission"></use>
          </svg>
          <span class="filter-value">Manual</span>
        </button>
      </li>
      <li id="js-filter-icon-transmission-automatictransmission" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1065 1024" class="icon filter-icon-transmission-automatictransmission">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-transmission-automatictransmission"></use>
          </svg>
          <span class="filter-value">Automatic</span>
        </button>
      </li>
      <li id="js-filter-icon-transmission-continuousvariabletransmission" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1819 1024" class="icon filter-icon-transmission-continuousvariabletransmission">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-transmission-continuousvariabletransmission"></use>
          </svg>
          <span class="filter-value">CVT</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="col" id="js-filter-options-bedlength" style="display: none;">
    <h3>Bed Size</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-bedlength-standardbed" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 2617 1024" class="icon filter-icon-bedlength-standardbed">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-bedlength-standardbed"></use>
          </svg>
          <span class="filter-value">Standard bed</span>
        </button>
      </li>
      <li id="js-filter-icon-bedlength-longbed" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 2831 1024" class="icon filter-icon-bedlength-longbed">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-bedlength-longbed"></use>
          </svg>
          <span class="filter-value">Long bed</span>
        </button>
      </li>
      <li id="js-filter-icon-bedlength-shortbed" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 2445 1024" class="icon filter-icon-bedlength-shortbed">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-bedlength-shortbed"></use>
          </svg>
          <span class="filter-value">Short bed</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="col" id="js-filter-options-engine" style="display: none;">
    <h3>Engine</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-engine-4cylinderfamily" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 617 1024" class="icon filter-icon-engine-4cylinderfamily">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-engine-4cylinderfamily"></use>
          </svg>
          <span class="filter-value">4 cyl</span>
        </button>
      </li>
      <li id="js-filter-icon-engine-6cylinderfamily" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1041 1024" class="icon filter-icon-engine-6cylinderfamily">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-engine-6cylinderfamily"></use>
          </svg>
          <span class="filter-value">6 cyl</span>
        </button>
      </li>
      <li id="js-filter-icon-engine-8cylinderfamily" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1041 1024" class="icon filter-icon-engine-8cylinderfamily">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-engine-8cylinderfamily"></use>
          </svg>
          <span class="filter-value">8+ cyl</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="col" id="js-filter-options-seating" style="display: none;">
    <h3>Seats</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-seating-2to3passenger" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1055 1024" class="icon filter-icon-seating-2to3passenger">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-seating-2to3passenger"></use>
          </svg>
          <span class="filter-value">2-3 seats</span>
        </button>
      </li>
      <li id="js-filter-icon-seating-4to6passenger" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1374 1024" class="icon filter-icon-seating-4to6passenger">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-seating-4to6passenger"></use>
          </svg>
          <span class="filter-value">4-6 seats</span>
        </button>
      </li>
      <li id="js-filter-icon-seating-7and8passenger" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1437 1024" class="icon filter-icon-seating-7and8passenger">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-seating-7and8passenger"></use>
          </svg>
          <span class="filter-value">7-8 seats</span>
        </button>
      </li>
      <li id="js-filter-icon-seating-9passenger" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1668 1024" class="icon filter-icon-seating-9passenger">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-seating-9passenger"></use>
          </svg>
          <span class="filter-value">9+ seats</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="col" id="js-filter-options-bodystyle" style="display: none;">
    <h3>Cab Size</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-bodystyle-accesscab" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 2823 1024" class="icon filter-icon-bodystyle-accesscab">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-bodystyle-accesscab"></use>
          </svg>
          <span class="filter-value">access cab</span>
        </button>
      </li>
      <li id="js-filter-icon-bodystyle-extendedcab" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 2818 1024" class="icon filter-icon-bodystyle-extendedcab">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-bodystyle-extendedcab"></use>
          </svg>
          <span class="filter-value">extended cab</span>
        </button>
      </li>
      <li id="js-filter-icon-bodystyle-quadcab" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 2941 1024" class="icon filter-icon-bodystyle-quadcab">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-bodystyle-quadcab"></use>
          </svg>
          <span class="filter-value">quad cab</span>
        </button>
      </li>
      <li id="js-filter-icon-bodystyle-regularcab" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 2480 1024" class="icon filter-icon-bodystyle-regularcab">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-bodystyle-regularcab"></use>
          </svg>
          <span class="filter-value">regular cab</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="col" id="js-filter-options-doors" style="display: none;">
    <h3>Doors</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-doors-2door" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 3033 1024" class="icon filter-icon-doors-2door">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-doors-2door"></use>
          </svg>
          <span class="filter-value">2 doors</span>
        </button>
      </li>
      <li id="js-filter-icon-doors-4door" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 3148 1024" class="icon filter-icon-doors-4door">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-doors-4door"></use>
          </svg>
          <span class="filter-value">4 doors</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="col" id="js-filter-options-cargocapacity" style="display: none;">
    <h3>Cargo Capacity</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-cargocapacity-upto24cubicfeet" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1385 1024" class="icon filter-icon-cargocapacity-upto24cubicfeet">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-cargocapacity-upto24cubicfeet"></use>
          </svg>
          <span class="filter-value">0-24 cuft</span>
        </button>
      </li>
      <li id="js-filter-icon-cargocapacity-25to50cubicfeet" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1823 1024" class="icon filter-icon-cargocapacity-25to50cubicfeet">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-cargocapacity-25to50cubicfeet"></use>
          </svg>
          <span class="filter-value">25-50 cuft</span>
        </button>
      </li>
      <li id="js-filter-icon-cargocapacity-51to200cubicfeet" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1641 1024" class="icon filter-icon-cargocapacity-51to200cubicfeet">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-cargocapacity-51to200cubicfeet"></use>
          </svg>
          <span class="filter-value">51-200 cuft</span>
        </button>
      </li>
      <li id="js-filter-icon-cargocapacity-over200cubicfeet" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1023 1024" class="icon filter-icon-cargocapacity-over200cubicfeet">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-cargocapacity-over200cubicfeet"></use>
          </svg>
          <span class="filter-value">200+ cuft</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="col" id="js-filter-options-towingcapacity" style="display: none;">
    <h3>Towing Capacity</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-towingcapacity-classiandii" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1862 1024" class="icon filter-icon-towingcapacity-classiandii">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-towingcapacity-classiandii"></use>
          </svg>
          <span class="filter-value">Class I and II</span>
        </button>
      </li>
      <li id="js-filter-icon-towingcapacity-classiii" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1632 1024" class="icon filter-icon-towingcapacity-classiii">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-towingcapacity-classiii"></use>
          </svg>
          <span class="filter-value">Class III</span>
        </button>
      </li>
      <li id="js-filter-icon-towingcapacity-classiv" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1735 1024" class="icon filter-icon-towingcapacity-classiv">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-towingcapacity-classiv"></use>
          </svg>
          <span class="filter-value">Class IV</span>
        </button>
      </li>
      <li id="js-filter-icon-towingcapacity-classv" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 2116 1024" class="icon filter-icon-towingcapacity-classv">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-towingcapacity-classv"></use>
          </svg>
          <span class="filter-value">Class V</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="col" id="js-filter-options-driverange" style="display: none;">
    <h3>Drive Range</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-driverange-0to35" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 794 1024" class="icon filter-icon-driverange-0to35">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-driverange-0to35"></use>
          </svg>
          <span class="filter-value">0-35 mi</span>
        </button>
      </li>
      <li id="js-filter-icon-driverange-75to90" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1083 1024" class="icon filter-icon-driverange-75to90">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-driverange-75to90"></use>
          </svg>
          <span class="filter-value">75-90 mi</span>
        </button>
      </li>
      <li id="js-filter-icon-driverange-91to155" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1112 1024" class="icon filter-icon-driverange-91to155">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-driverange-91to155"></use>
          </svg>
          <span class="filter-value">91-155 mi</span>
        </button>
      </li>
      <li id="js-filter-icon-driverange-156to620" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1112 1024" class="icon filter-icon-driverange-156to620">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-driverange-156to620"></use>
          </svg>
          <span class="filter-value">156-620 mi</span>
        </button>
      </li>
    </ul>
  </div>
