<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="filter-icon-fueltype-diesel" viewBox="0 0 753 1024">
      <title>fueltype-diesel</title>
      <path fill="#0ba14a" d="M451.418 495.38c-9.65-9.65-23.59-16.084-38.601-19.301-11.795-2.145-35.384-4.289-69.696-4.289h-37.529v274.496h62.191c23.59 0 40.746-1.072 50.396-4.289 13.939-3.217 24.662-9.65 34.312-17.156 8.578-8.578 16.084-21.445 21.445-39.673s8.578-43.962 8.578-76.13c0-32.168-3.217-56.829-8.578-73.985-4.289-16.084-12.867-30.023-22.517-39.673z"></path>
      <path fill="#0ba14a" d="M376.36 0c0 0-376.36 439.623-376.36 647.64s168.343 376.36 376.36 376.36c208.017 0 376.36-168.343 376.36-376.36s-376.36-647.64-376.36-647.64zM557.571 701.252c-10.723 30.023-24.662 54.685-43.962 72.913-15.012 13.939-34.312 24.662-58.974 33.24-18.228 5.361-42.89 8.578-73.985 8.578h-158.693v-413.889h153.332c34.312 0 61.118 2.145 79.347 7.506 24.662 7.506 45.035 20.373 62.191 38.601s30.023 40.746 39.673 67.552c8.578 26.806 13.939 58.974 13.939 97.575-1.072 34.312-5.361 63.263-12.867 87.925z"></path>
    </symbol>
    <symbol id="filter-icon-fueltype-dieselandcng" viewBox="0 0 753 1024">
      <title>fueltype-dieselandcng</title>
      <path fill="#0ba14a" d="M451.418 495.38c-9.65-9.65-23.59-16.084-38.601-19.301-11.795-2.145-35.384-4.289-69.696-4.289h-37.529v274.496h62.191c23.59 0 40.746-1.072 50.396-4.289 13.939-3.217 24.662-9.65 34.312-17.156 8.578-8.578 16.084-21.445 21.445-39.673s8.578-43.962 8.578-76.13c0-32.168-3.217-56.829-8.578-73.985-4.289-16.084-12.867-30.023-22.517-39.673z"></path>
      <path fill="#0ba14a" d="M376.36 0c0 0-376.36 439.623-376.36 647.64s168.343 376.36 376.36 376.36c208.017 0 376.36-168.343 376.36-376.36s-376.36-647.64-376.36-647.64zM557.571 701.252c-10.723 30.023-24.662 54.685-43.962 72.913-15.012 13.939-34.312 24.662-58.974 33.24-18.228 5.361-42.89 8.578-73.985 8.578h-158.693v-413.889h153.332c34.312 0 61.118 2.145 79.347 7.506 24.662 7.506 45.035 20.373 62.191 38.601s30.023 40.746 39.673 67.552c8.578 26.806 13.939 58.974 13.939 97.575-1.072 34.312-5.361 63.263-12.867 87.925z"></path>
    </symbol>
    <symbol id="filter-icon-fueltype-electric" viewBox="0 0 1024 1024">
      <title>fueltype-electric</title>
      <path fill="#0ba14a" d="M512 0c-283.143 0-512 228.857-512 512s228.857 512 512 512c283.143 0 512-228.857 512-512s-228.857-512-512-512zM754.694 474.744l-320.399 407.684c-4.258 5.322-11.709 14.902-25.547 14.902h-1.064c-7.451 0-13.838-3.193-18.096-9.58-9.58-13.838-4.258-26.611-1.064-32.998l98.994-251.21-137.314-2.129c-13.838 0-25.547-6.387-31.933-17.031s-7.451-24.482-1.064-37.256l141.572-286.337c8.516-19.16 30.869-32.998 51.094-32.998h174.57c13.838 0 25.547 6.387 31.933 17.031s6.387 24.482-1.064 37.256l-90.478 135.185h102.187c21.289 0 30.869 13.838 32.998 18.096 2.129 6.387 8.516 22.353-5.322 39.385z"></path>
    </symbol>
    <symbol id="filter-icon-fueltype-gas" viewBox="0 0 753 1024">
      <title>fueltype-gas</title>
      <path fill="#0ba14a" d="M375.873 0c0 0-375.873 439.873-375.873 647.111s168.635 375.873 375.873 375.873c208.254 0 375.873-168.635 375.873-375.873 1.016-207.238-375.873-647.111-375.873-647.111z"></path>
    </symbol>
    <symbol id="filter-icon-fueltype-hybrid" viewBox="0 0 1384 1024">
      <title>fueltype-hybrid</title>
      <path fill="#0ba14a" d="M375.873 0c0 0-375.873 439.873-375.873 647.111s168.635 375.873 375.873 375.873c208.254 0 375.873-168.635 375.873-375.873 1.016-207.238-375.873-647.111-375.873-647.111z"></path>
      <path fill="#3a3a3c" d="M986.413 229.587c-219.429 0-397.206 177.778-397.206 397.206s177.778 397.206 397.206 397.206c219.429 0 397.206-177.778 397.206-397.206s-177.778-397.206-397.206-397.206zM1182.476 588.19l-270.222 343.365c-3.048 4.063-10.159 13.206-21.333 13.206h-1.016c-6.095 0-12.19-3.048-15.238-8.127-8.127-11.175-3.048-22.349-1.016-27.429l83.302-211.302-114.794-1.016c-12.19 0-21.333-5.079-27.429-14.222-5.079-9.143-6.095-20.317-1.016-31.492l119.873-241.778c7.111-16.254 25.397-27.429 43.683-27.429h147.302c12.19 0 22.349 5.079 27.429 14.222s5.079 20.317-1.016 31.492l-76.19 114.794h85.333c18.286 0 25.397 12.19 27.429 15.238s6.095 16.254-5.079 30.476z"></path>
    </symbol>
    <symbol id="filter-icon-fueltype-hydrogen" viewBox="0 0 1024 1024">
      <title>fueltype-hydrogen</title>
      <path fill="#0ba14a" d="M512 0c-282.292 0-512 229.708-512 512s229.708 512 512 512c282.292 0 512-229.708 512-512s-229.708-512-512-512zM595.027 696.043h-49.816v-178.508h-197.881v178.508h-49.816v-379.157h49.816v154.984h196.497v-154.984h51.2v379.157zM813.665 696.043h-136.995c0-5.535 1.384-12.454 2.768-17.989 4.151-9.686 9.686-17.989 16.605-27.676 8.303-9.686 19.373-19.373 33.211-31.827 22.141-17.989 37.362-33.211 45.665-44.281s12.454-20.757 12.454-30.443c0-9.686-4.151-17.989-11.070-24.908s-16.605-9.686-27.676-9.686c-12.454 0-22.141 4.151-29.059 11.070s-11.070 17.989-11.070 30.443l-26.292-2.768c1.384-19.373 8.303-34.595 20.757-44.281 11.070-9.686 27.676-15.222 47.049-15.222s35.978 5.535 47.049 16.605c11.070 11.070 17.989 24.908 17.989 41.514 0 8.303-1.384 16.605-5.535 24.908-2.768 8.303-9.686 16.605-16.605 24.908-8.303 8.303-20.757 20.757-38.746 35.978-15.222 12.454-24.908 22.141-29.059 26.292s-8.303 9.686-11.070 13.838h101.016v23.524z"></path>
    </symbol>
    <symbol id="filter-icon-fueltype-other" viewBox="0 0 1283 1024">
      <title>fueltype-other</title>
      <path fill="#0ba14a" d="M547.754 328.939c-200.223 115.844-188.782 304.626-181.631 374.704 258.86-306.056 643.575-290.324 643.575-290.324s-547.754 187.352-707.933 563.486c-12.872 30.034 60.067 68.648 75.799 32.894 48.626-104.402 117.274-183.061 117.274-183.061 101.542 37.184 276.022 81.52 400.447-5.721 165.899-115.844 148.737-373.274 383.285-497.698 55.777-30.034-460.514-151.598-730.816 5.721v0z"></path>
      <path fill="#3a3a3c" d="M300.335 679.33c0-130.145 58.637-248.849 155.888-338.95-190.212-2.86-284.603-35.754-284.603-35.754 25.743-107.263 52.916-167.33 60.067-183.061 4.291-12.872 10.011-50.056 257.43-50.056s253.14 42.905 254.57 42.905c4.291 11.441 12.872 34.324 25.743 67.218 22.883-4.291 44.335-8.581 68.648-11.441-15.732-42.905-28.603-78.659-34.324-91.531-17.162-37.184-70.078-54.346-100.112-62.927 0 0-48.626-18.592-213.095-18.592-165.899 2.86-215.955 21.453-215.955 21.453-34.324 11.441-82.95 27.173-101.542 64.358-8.581 17.162-45.765 122.994-77.229 210.235h-38.615c-18.592 0-37.184 14.302-44.335 32.894l-11.441 31.464c-5.721 18.592 2.86 32.894 21.453 32.894h38.615c-5.721 14.302-8.581 22.883-8.581 22.883-2.86 5.721-5.721 30.034-5.721 35.754v296.045c0 18.592 15.732 34.324 34.324 34.324h125.855c18.592 0 34.324-15.732 34.324-34.324v-62.927h58.637c0 0 0-1.43 0-2.86zM243.128 539.173h-52.916c-47.196 0-92.961-5.721-92.961-35.754v-35.754c0-34.324 20.022-35.754 41.475-35.754s62.927 18.592 91.531 30.034c30.034 12.872 64.358 24.313 64.358 47.196 0 20.022-11.441 30.034-51.486 30.034z"></path>
    </symbol>
  </defs>
</svg>
