  <div class="col stack" id="js-filter-options-driverange" style="display: none;">
    <h3>Drive Range</h3>
    <ul class="filter-list">
      <li id="js-filter-icon-driverange-0to35" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 794 1024" class="icon filter-icon-driverange-0to35">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-driverange-0to35"></use>
          </svg>
          <span class="filter-value">0-35 mi</span>
        </button>
      </li>
      <li id="js-filter-icon-driverange-75to90" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1083 1024" class="icon filter-icon-driverange-75to90">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-driverange-75to90"></use>
          </svg>
          <span class="filter-value">75-90 mi</span>
        </button>
      </li>
      <li id="js-filter-icon-driverange-91to155" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1112 1024" class="icon filter-icon-driverange-91to155">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-driverange-91to155"></use>
          </svg>
          <span class="filter-value">91-155 mi</span>
        </button>
      </li>
      <li id="js-filter-icon-driverange-156to620" style="display: none;">
        <button class="btn-filter">
          <svg viewBox="0 0 1112 1024" class="icon filter-icon-driverange-156to620">
            <use xlink:href="/assets/svg/global-sprite.svg#filter-icon-driverange-156to620"></use>
          </svg>
          <span class="filter-value">156-620 mi</span>
        </button>
      </li>
    </ul>
  </div>
