@model Car.Com.Models.Site.FraudViewModel

<h1>Fraud Awareness</h1>

<div class="ad-set">
  <div class="ad-container">
    <div id="js_tile_1" class="ad"></div>
  </div>
  <div class="ad-container">
    <div id="js_tile_2" class="ad"></div>
  </div>
  <div class="ad-container">
    <div id="js_tile_3" class="ad"></div>
  </div>
  <div class="mobilead-cont">
    <div class="ad-container">
      <div id="js_tile_11" class="ad"></div>
    </div>
  </div>
  <div class="mobilead-cont">
    <div class="ad-container">
      <div id="js_tile_12" class="ad"></div>
    </div>
  </div>
  <div class="mobilead-cont fixed disabled">
    <div class="ad-container">
      <div id="js_tile_10" class="ad"></div>
    </div>
  </div>
</div>
