<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings file="services.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />

    <!-- !** Description of Environment Settings **! -->
    <!-- 
      IsLocalDev            =>  If TRUE, we ignore the StaticUrlPrefix key and fetch assets from the local developer's /app_assets/dist/ folder.
                                If TRUE, we also look at the LocalDev:CarsForSaleLoadAmount key for the cap amount we apply to the inventory load process.
      
      IsProduction          =>  This boolean will allow for any exclusively PRODUCTION only settings... which, as of yet, no use-cases currently exist. :)

      IsQaStage             =>  This is actually NOT a web.config key, but is a derived logic state from combining the IsProduction and IsLocalDev keys.
                                When the keys, IsProduction and IsLocalDev, are both FALSE, then the IsQaStage boolean becomes TRUE.
                                This boolean will allow for any exclusively DEV|QA|STAGE only settings... which, again, no use-cases currently exist. :)

      StaticUrlPrefix       =>  This key is only looked at and used when IsLocalDev is FALSE.

      CarsForSaleLoadAmount =>  This key is only looked at and used when IsLocalDev is TRUE. It is ignored in all other environments, and could even be removed.

    -->
    <add key="Environment:IsProduction" value="false" />
    <add key="Environment:IsLocalDev" value="true" />
    <add key="Environment:LocalDev:CarsForSaleLoadAmount" value="90000" />
    <add key="Environment:StaticUrlPrefix" value="//static.dev.car.com/car" />

    <add key="WURFL:DatabaseFilePath" value="/app_data/wurfl-latest.zip" />
    <add key="WURFL:PatchFilePaths" value="" />

    <add key="Logger:Enabled" value="false" />
    <add key="RouteDebugger:Enabled" value="false" />
        
  </appSettings>

  <system.web>
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <!--<error statusCode="404" redirect="error/status-404"/>-->
    </customErrors>

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"  maxUrlLength="1024" requestPathInvalidCharacters="&lt;,&gt;" />

    <caching>
      <outputCache enableOutputCache="true"
                   enableFragmentCache="true"
                   sendCacheControlHeader="true"
                   omitVaryStar="true">
      </outputCache>
    </caching>
  </system.web>
  <system.webServer>
    <!--<httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="/error/status-404" responseMode="Redirect" />
    </httpErrors>-->

    <!--<urlCompression doDynamicCompression="false" dynamicCompressionBeforeCache="true" doStaticCompression="true" />-->
    <!--<staticContent>
      <clientCache httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" />
    </staticContent>-->

    <validation validateIntegratedModeConfiguration="false" />

    <!-- WARNING: This seems to be necessary to run on IIS -->
    <!-- 
      Ref: http://stackoverflow.com/questions/11425574/mvc4-http-error-403-14-forbidden 
      Ref: https://msdn.microsoft.com/en-us/library/cc668201%28v=vs.140%29.aspx    
    -->
    <modules runAllManagedModulesForAllRequests="false" />


    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0"
           path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
           preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
