@model Car.Com.Models.Calculator.AffordabilityViewModel

<div class="header">
  <div class="page-title">
    <h1>Car Affordability Calculator</h1>
  </div>
</div>
<div class="main">
  <div class="cell primary">
    <div class="mobilead-cont top">
      <div class="ad-container">
        <div id="js_tile_11" class="ad"></div>
      </div>
    </div>
    <div class="section-pad">
      <div class="box solid" id="calc_form_div_js">
        <form class="calc-form">
          <fieldset>
            <h3>Assumptions</h3>
            <p class="form-item-row">
              <label class="form-item-label" for="HowMuchCanIAfford_downPayment">Down payment (include cash on hand, trade-in value, cash rebate, etc.) ($)</label>
              <input class="form-item-value" id="HowMuchCanIAfford_downPayment" type="number" value="0" autofocus />
            </p>
            <p class="form-item-row">
              <label class="form-item-label" for="HowMuchCanIAfford_monthlyPayment">Desired monthly payment ($)</label>
              <input class="form-item-value" id="HowMuchCanIAfford_monthlyPayment" type="number" value="0" />
            </p>
            <p class="form-item-row">
              <label class="form-item-label" for="HowMuchCanIAfford_interestRate">Annual percentage rate: (%)</label>
              <input class="form-item-value" id="HowMuchCanIAfford_interestRate" type="number" value="0" />
            </p>
            <p class="form-item-row">
              <label class="form-item-label" for="HowMuchCanIAfford_termMonths">Term of the loan (months)</label>
              <input class="form-item-value" id="HowMuchCanIAfford_termMonths" type="number" value="48" />
            </p>
            <p style="text-align:center;">
              <input id="btnCalculatePrice" type="button" value="Calculate Total Purchase Price" class="btn-primary lg" />
            </p>
          </fieldset>
        </form>
        <p>
          You may have asked yourself: "How much of a car payment can I afford?" Typical frugal shoppers will assess their monthly income, take out taxes, and spend around 10–15% on a car payment however, the average car buyer spends 20-25% and some car fanatics can go as high as 50%. To get a handle on the reality and limits of the price range you can afford, our car affordability calculator uses your down payment, desired monthly payment, and the interest rate you are able to get, and calculates in the loan term, giving you a bottom line price to assist you in forming your car-buying short list. 
        </p>
      </div>
      <div class="center" id="resultdiv_js">
        <p id="HowMuchCanIAfford_purchasePrice" style="font-size:36px; color:#145083; font-weight:bold; margin-bottom: 0;"></p>
        <a class="btn-primary lg" href="http://finance.car.com/?id=32803" style="font-size:22px; padding: 25px 30px 25px 30px; margin-top: 30px; margin-bottom: 20px;"
           title="Apply today for great auto loan rates" target="_new" rel="nofollow">Apply For a Car Loan</a><br />
        <a href="." style="font-size:14px; text-decoration:underline;">Start Over</a><br /><br /><br />
      </div>
      <div class="ldrboard-cont">
        <div class="ad-container">
          <div id="js_tile_1" class="ad"></div>
        </div>
      </div>
    </div>
    <div class="mobilead-cont bottom">
      <div class="ad-container">
        <div id="js_tile_12" class="ad"></div>
      </div>
    </div>
  </div>
  <aside class="cell sidebar">
    <div class="ad-set">
      <div class="ad-container">
        <div id="js_tile_2" class="ad"></div>
      </div>
      <div class="ad-container">
        <div id="js_tile_3" class="ad"></div>
      </div>
      <div class="ad-container">
        <div id="js_tile_4" class="ad"></div>
      </div>
    </div>
  </aside>
</div>
<div class="mobilead-cont fixed disabled">
  <div class="ad-container">
    <div id="js_tile_10" class="ad"></div>
  </div>
</div>