@model Car.Com.Models.Calculator.LoanVsFinancingViewModel

<div class="header">
  <div class="page-title">
    <h1>Rebate vs. 0% Financing Calculator </h1>
  </div>
</div>
<div class="main">
  <div class="cell primary">
    <div class="mobilead-cont top">
      <div class="ad-container">
        <div id="js_tile_11" class="ad"></div>
      </div>
    </div>
    <div class="section-pad">
      <div class="box solid" id="calc_form_div_js">
        <form class="calc-form">
          <fieldset>
            <p class="form-item-row">
              <label class="form-item-label" for="RebateVsFinancing_salesPrice">
                Sales price before rebate ($)&nbsp;&nbsp;<a href="#" id="js_add_compare_car" style="color:#337AAF; font-size:8pt; font-weight:bold; text-decoration:underline;">Select a Car</a>&nbsp;&nbsp;
                <span id="js_selected_trim_label" style="font-size:8pt;"></span>
              </label>
              <input class="form-item-value" id="RebateVsFinancing_salesPrice" type="number" value="0" autofocus />
            </p>
            <p class="form-item-row">
              <label class="form-item-label" for="RebateVsFinancing_rebate">Rebate amount if financing through bank or credit union ($)</label>
              <input class="form-item-value" id="RebateVsFinancing_rebate" type="number" value="0" />
            </p>
            <p class="form-item-row">
              <label class="form-item-label" for="RebateVsFinancing_interestRate">Annual interest rate through bank or credit union</label>
              <input class="form-item-value" id="RebateVsFinancing_interestRate" type="number" value="5" />
            </p>
            <p class="form-item-row">
              <label class="form-item-label" for="RebateVsFinancing_termYears">Term of loan: (years)</label>
              <input class="form-item-value" id="RebateVsFinancing_termYears" type="number" value="4" />
            </p>
            <p style="text-align:center;">
              <input id="btnCalculateRebateVsFinancing" type="button" value="Calculate" class="btn-primary lg" />
            </p>
          </fieldset>
        </form>
        <p>
          A popular promotional push for new cars these days is the 0% or Cash Rebate offer. The little word "or" is important to note, because invariably, you must choose only one of the two. The general rule of thumb is, if you are a cash buyer, the cash rebate is your only choice, but if you plan to finance, depending on the length of the loan, a zero-finance rate could be the better deal in the long run. You should note that, unless the rebate is substantially high, any loan term of over 5 years will give cash the advantage since interest rates are higher on longer loans. Also factor in how long you plan to keep the car and how good your credit is – you'll need that to qualify for the 0% finance offer in most cases. After all the information is collected, our calculator will help you pick the winner of the rebate vs 0% financing quandary based on your unique situation. 
        </p>
      </div>
      <div class="center" id="resultdiv_js">
        <p id="RebateVsFinancing_decision" style="font-size:36px; color:#145083; font-weight:bold; margin-bottom: 0;"></p>
        <a class="btn-primary lg" href="http://finance.car.com/?id=32803" style="font-size:22px; padding: 25px 30px 25px 30px; margin-top: 30px; margin-bottom: 20px;"
           title="Apply today for great auto loan rates" target="_new" rel="nofollow">Apply For a Car Loan</a><br />
        <a href="." style="font-size:14px; text-decoration:underline;">Start Over</a><br /><br /><br />
      </div>
      <section class="widget-cont" id="js_similar_vehicles" style="display: none;">
        <h2 class="h2 line-on-sides">Research</h2>
        <div class="sugged-widget-cont" id="js_similar_vehicles_content"></div>
      </section>
      <div class="ldrboard-cont">
        <div class="ad-container">
          <div id="js_tile_1" class="ad"></div>
        </div>
      </div>
    </div>
    <div class="mobilead-cont bottom">
      <div class="ad-container">
        <div id="js_tile_12" class="ad"></div>
      </div>
    </div>
  </div>
  <aside class="cell sidebar">
    <div class="ad-set">
      <div class="ad-container">
        <div id="js_tile_2" class="ad"></div>
      </div>
      <div class="ad-container">
        <div id="js_tile_3" class="ad"></div>
      </div>
      <div class="ad-container">
        <div id="js_tile_4" class="ad"></div>
      </div>
    </div>
  </aside>
</div>
<div class="mobilead-cont fixed disabled">
  <div class="ad-container">
    <div id="js_tile_10" class="ad"></div>
  </div>
</div>