/**
 *  This sass module represents the desktop version of carsforsale.results http://www.autobytel.com/
 */

@charset "UTF-8";

@import "app-base";

.inline-block-list {
  @extend %btn-list;
}

// NEW CARS FOR SALE FILTER COMPONENTS

.cfs {

  .page-title {
    position: relative;
  }

  .h1-title .v-count {
    @include breakpoint($xsmall-down) {
      display: block;
      @include font(1.2, 1);
    }

    display: none;
  }
  // $medium+ screens only
  .h1-inline-item-full {
    display: none;

    @include breakpoint(($medium)) {
      display: inline-block;
    }
  }
  // less than $medium screens only
  .h1-inline-item-compact {
    position: absolute;
    top: .75em;
    right: 1em;
    width: 53%;
    color: #FFF;
    text-align: right;

    @include breakpoint(($medium-portrait, $small)) {
      display: none;
    }
  }

  .icon.location {
    width: 2em;
    height: 2em;

    svg {
      fill: white;
    }
  }

  .zip {
    vertical-align: middle;
    @include font(1.6, 1.3);
  }

  .btn-zip {
    // hide zip changer on the header on smaller than $medium screen size
    display: none;

    @include breakpoint($medium) {
      display: block;
      position: static;
      padding: .5em;
      background: none;
      color: white;
      vertical-align: middle;
    }
  }

  .btn-filter {
    margin-left: 1em;
    background: none;
    border: solid 2px #fff;
    color: #FFF;
  }

  .section-pad {

    @include breakpoint(($medium-portrait, $small)) {
      margin-top: 215px;
    }

    @include breakpoint($large) {
      margin-top: 0;
    }
  }

  .sidebar {
    .ad-set {
      @include breakpoint($medium) {
        margin-top: 248px;
      }

      @include breakpoint($large) {
        margin-top: 2em;
      }
    }
  }
}

.search-bar-cont {
  display: none;
  margin: 0 -1em 1.5em;
  @include cf;

  &.show {
    display: block;
  }

  @include breakpoint(($medium-portrait, $small)) {
    display: block;
    position: absolute;
    top: 115px;
    margin: 0 0 1.5em;
  }

  @include breakpoint($large) {
    position: static;
  }
}

.search-count {
  padding: .25em 1.5em;
  border-bottom: solid 1px $alto;
  @include box-shadow(1px 1px 3px $alto);
  @include cf;

  .count-bar {
    float: left;
  }

  .row {
    display: block;
    color: $accent-color;
  }

  .count {
    @include font(2, 1.3);
  }

  .btn-done {
    float: right;
    padding: .75em 0;
    color: $accent-color;
    @include font(1.5, 1.3);
  }

  @include breakpoint(($medium-portrait, $small)) {
    float: left;
    padding: .55em 1.5em;
    margin-right: .25em;
    background: $gray2;
    color: white;
    text-align: center;

    .count-bar {
      float: none;
    }

    .row {
      display: block;
      font-weight: bold;
      color: white;
    }

    .count {
      min-height: 1.3em;
      @include font(2.4, 1.3);
    }

    small {
      line-height: 1.2;
    }

    .btn-done {
      display: none;
    }
  }
}

.cfs-search-filters {
  display: block;

  @include breakpoint(($medium-portrait, $small)) {
    float: left;
  }

  .filter-menu {
    float: none;
    width: 100%;
    padding: 0;
    border-bottom: solid 2px $alto;

    @include breakpoint(($medium-portrait, $small)) {
      float: left;
      width: auto;
      margin-right: .25em;
      border: none;
    }
  }

  legend {
    width: 100%;
    z-index: 2;
    position: relative;
    display: block;
    margin: 0;

    @include breakpoint(($medium-portrait, $small)) {
      width: auto;
    }
  }

  .menu-label {
    display: block;
    width: 100%;
    padding: .5em 1.5em;
    cursor: pointer;

    @include breakpoint(($medium-portrait, $small)) {
      padding: 1em;
      background: $porcelain;
      border: solid 1px $porcelain;
      font-weight: normal;

      &:hover {
        background: white;
      }
    }

    &.selected {

      @include breakpoint(($medium-portrait, $small)) {
        background: white;
        border: solid 1px $alto;
        border-bottom: none;
      }
    }

    .label {
      display: inline;
      width: 90%;
      color: $accent-color;
      font-weight: bold;
      vertical-align: middle;

      &:before {
        content: attr(data-label);
        width: 30%;
        display: inline-block;
        color: $body-font-color;
      }

      @include breakpoint(($medium-portrait, $small)) {
        display: inline-block;
        width: auto;
        color: $body-font-color;
        font-weight: normal;
        text-align: left;

        &:before {
          float: none;
          width: auto;
          content: "";
          margin-right: 0;
        }

        &:empty:before {
          content: attr(data-label);
        }
      }
    }
  }

  .icon.arrow {
    float: right;
    width: 2em;
    height: 2em;
    @include transform(rotate(90deg));

    @include breakpoint(($medium-portrait, $small)) {
      float: none;
      width: 1.5em;
      height: 1.5em;
      @include transform(rotate(90deg));
    }
  }

  .arrow svg {
    width: 100%;
    height: 100%;
    fill: $accent-color;
  }

  .filter-pane {
    display: none;
    padding: .75em 3em 1.5em;

    @include breakpoint(($medium-portrait, $small)) {
      position: absolute;
      padding: 1em 1em .75em;
      margin-top: -1px;
      border: solid 1px $alto;
      background: #fff;
      z-index: 1;
    }
  }

  .user-entry {
    margin-bottom: .75em;

    .col {
      display: inline-block;
    }

    input[type=text] {
      padding: .55em;
      background: $concrete;
      border: solid 1px #ccc;
      color: $body-font-color;
    }
  }

  .preset-filter {
    ul {
      padding-left: 0;
      margin: 0 0 .75em;
      @include no-bullet;
    }

    li {
      padding: .5em 0;
      @include no-bullet;
    }

    @include font(1.4, 1.5);
  }
}

.tag-sort-cont {
  margin-bottom: .75em;
  @include cf;

  .cfs & {
    @include breakpoint($small) {
      position: absolute;
      top: 195px;
      left: 2em;
      right: 2em;
    }

    @include breakpoint($large) {
      position: static;
    }
  }

  .btn-add-cars {
    border: none;
    font-weight: normal;
    @include font(1.2, 1.3);

    @include breakpoint(($medium-portrait, $small)) {   
      padding: .4em .8em;  
      @include font(1.3, 1.5);
    }
  }

  .col2 {
    text-align: right;
  }

  @include breakpoint($small) {

    .col1 {
      @include span(8 of 12);
    }

    .col2 {
      @include span(4 of 12 last);
    }
  }
}

.card-c4s {
  display: block;

  .img-container {
    padding-top: 75.297%;
    background: url(img/no-image-avail_4x3.svg) no-repeat;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      @include translateY(-50%);
      // alt
      text-indent: -9999px;
      color: transparent;
    }
  }

  .an-recall-free-badge {
    position: absolute;
    bottom: 2.75em;
    right: .25em;
    z-index: 3;
    width: 60px;
    height: 45px;
  }

  .email {
    position: absolute;
    bottom: .5em;
    right: .75em;
    z-index: 3;

    .i-envelope {
      width: 2.5em;
      height: 2.2em;
    }

    svg {
      fill: #E1E1E1;
    }
  }

  .desc {
    position: relative;
    background: $tundora;
    padding: .75em;
    color: #fff;
    text-align: left;

    &.an-dlr {
      background: #2f2f2f;

      &:hover .label {
        background: #000;
      }
    }

    .price {
      @include font(1.8, 1.5);
      float: left;
    }

    .mileage, .v-name {
      @include font(1.4, 1.5);
      display: block;
    }

    .mileage {
      float: right;
    }

    .loc {
      @include font(1.2, 1.5);
      display: block;
    }
  }

  &:hover {
    .desc, .member-label {
      background: #000;
    }
  }
}

.verify-zip {
  @include font(5, 1.3);
  color: $picton-blue;
}