@model Car.Com.Models.CarsForSale.SelectCategoryMakesViewModel

<div class="header">
    <div class="page-title">
        <h1>@Model.PageMeta.H1</h1>
    </div>
</div>
<div class="main">
    <div class="cell primary">
        <div class="mobilead-cont top">
            <div class="ad-container">
                <div id="js_tile_11" class="ad"></div>
            </div>
        </div>
        <div class="section-pad">
          <div class="ldrboard-cont">
              <div class="ad-container">
                  <div id="js_tile_1" class="ad"></div>
              </div>
          </div>
          <span id="selectedCategories"></span>
          <h2 class="h1" id="selectMakeTitle"></h2>
          <ul id="makes_js" class="make-list">
            <li>
              <div data-id="0" data-value="0">
                <button id="allmodels" type="button" class="btn-mm carsForSaleModels selected">All Makes</button>
              </div>
            </li>
          </ul>
          <div class="center">
            <button id="btnChooseMakes" type="button" class="btn-primary lg"><small class="block">Next:</small> Choose Category</button>
            <button id="btnShowResults" type="button" class="btn-primary lg" style="display:none;">Show Cars</button>
          </div>
          <div class="ad-container">
              <div id="js_tile_4" class="ad"></div>
          </div>
        </div>
        <div class="mobilead-cont bottom">
            <div class="ad-container">
                <div id="js_tile_12" class="ad"></div>
            </div>
        </div>
    </div>
    <aside class="cell sidebar">
        <div class="ad-set">
            <div class="ad-container">
                <div id="js_tile_2" class="ad"></div>
            </div>
            <div class="ad-container">
                <div id="js_tile_3" class="ad"></div>
            </div>
        </div>
    </aside>
</div>
<div class="mobilead-cont fixed disabled">
    <div class="ad-container">
        <div id="js_tile_10" class="ad"></div>
    </div>
</div>