<ul class="footer-links">
  <li>
    <a href="http://www.autobytel.com/contact-us/" target="_blank" class="block">Contact</a>
  </li>
  <li>
    <a href="http://www.autobytel.com/about-us/" target="_blank" class="block">About</a>
  </li>
  <li>
    <a href="http://www.autobytel.com/terms-of-use/" target="_blank" class="block">Terms Of Use</a>
  </li>
  <li>
    <a href="http://www.autobytel.com/privacy-policy/" target="_blank" class="block">Privacy Policy</a>
  </li>
  <li>
    <a href="http://www.autobytel.com/fraud-awareness/" target="_blank" class="block">Fraud Awareness</a>
  </li>
</ul>			
<span>&copy;@DateTime.Now.Year CAR.com</span>