
<aside class="side-panel" style="display: none">
  <span class="overlay-close">
    <svg viewBox="0 0 100 100" class="icon">
      <use xlink:href="/assets/svg/global-sprite.svg#i_close"></use>
    </svg>
  </span>
  <section>
    <h1 class="h2">Get Pricing</h1>
    <form>
      <p>
        <label>
          <select class="full">
            <option>Make</option>
            <option>Honda</option>
          </select>
        </label>
      </p>
      <p>
        <label>
          <select class="full">
            <option>Model</option>
            <option>Accord</option>
          </select>
        </label>
      </p>
      <p>
        <label>
          <select class="full">
            <option>Trim (optional)</option>
            <option>LX</option>
          </select>
        </label>
      </p>
      <p>
        <label>
          <input type="text" class="full" pattern="[0-9]*" placeholder="ZIP Code" />
        </label>
      </p>
      <p><button class="btn-primary block">Continue to Get Pricing</button></p>
    </form>
  </section>

  <hr />

  <section class="special-offers">
    <h1 class="h2">Special Offers</h1>
    <ul class="list-view">
      <li>
        <a href="www.dealers.com">
          <article>
            <div class="thumb">
              <img src="http://www.autobytel.com/content/fullsite/css/images/carcom-icon.png" />
            </div>
            <div class="description">
              <h1 class="h3 header">2014 Toyota Corolla Closeout</h1>
              <p>
                www.dealers.com
                <br />
                Whopping Toyota Carolla Discounts Now. Get Your Toyota Corolla Internet Price Today!
              </p>
            </div>
          </article>
        </a>
      </li>
      <li>
        <a href="www.dealers.com">
          <article>
            <div class="thumb">
              <img src="http://www.autobytel.com/content/fullsite/css/images/carcom-icon.png" />
            </div>
            <div class="description">
              <h1 class="h3 header">2014 Toyota Corolla Closeout</h1>
              <p>
                www.dealers.com
                <br />
                Whopping Toyota Carolla Discounts Now. Get Your Toyota Corolla Internet Price Today!
              </p>
            </div>
          </article>
        </a>
      </li>
    </ul>
  </section>

  <hr />

  <section>
    <h1 class="h2"><span class="larger">23</span> Accord LX-S Coupes found</h1>
    <a href="#" class="btn-primary block">Go to Inventory</a>
  </section>
</aside>

@*@{ Html.RenderPartial("_UtilityIcons"); }*@